header li a {
    color: rgb(92, 255, 92);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;

}

.articles article a{
    color: rgb(255, 255, 255);
    padding: 3px 9px;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    margin: 8px; /*  afasstar do inicio */
    margin-right: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sports .articles article a{
    background-color: rgb(29, 143, 44);
}

#sports {
    background-color: rgb(196, 254, 204);
}

#economy {
    background-color: rgb(221, 243, 150);
}

#economy .articles article a{
    background-color: rgb(198, 122, 0);
}

#entertainment {
   background-color: rgb(191, 139, 240);
}

#entertainment a{
    background-color: rgb(251, 57, 154);
}

#technology a{
    background-color: rgb(106, 255, 0);

}

#technology {
    background-color: rgb(224, 224, 225);
}
.articles article a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgb(224, 224, 225);
}

body> header {
    background-color: blueviolet;
    padding: 10px 0;
    color: rgb(255, 255, 255);
}
